<nav class="nav-bar">
    <div class="nav-section">
        <p class="nav-section-title">Meu Portfolio</p>
        <p class="nav-section-description">Emanuel dos Santos Paz</p>
    </div>
    <ul class="nav-links">
        <li class="nav-item"><a href="#">Test</a></li>
        <li class="nav-item"><a href="#">Test</a></li>
        <li class="nav-item"><a href="#">Test</a></li>
        <li class="nav-item"><a href="#">Test</a></li>
        <li class="nav-item"><a href="#">Test</a></li>
    </ul>
</nav>